*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    width: 100vw;
    background: #1a7473;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* position: fixed; */
}
header nav{
    padding: 10px 0 0 0;
}
header nav ul{
    display: flex;
    list-style: none;
    align-content: center;
    margin: 20px 0 0 40px;
    /* background: wheat; */
    color: bisque;
    padding: 0;
}
nav li{
    margin-left: 15px;
    font-size: larger;
    font-weight: 700;
    padding: 0 0 0 30px;
}
header div{
    display: flex;
    align-content: right;
    /* background: wheat; */
    align-items: center;
    padding: 10px;
    margin: 10px 0px 10px 770px;
    font-size: xx-large;
    font-weight: 900;
    color: bisque;
}
.cont{
    background: #000;
}
.cont img{
    width: 100vw;
}